html, body {
    /*background-color: #383742;*/
    background-color: #2a2935;
    color: #e4e3e7;
    font-family: helvetica;
    height: 100%;
}


<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" 
      type="image/png" 
      href="josephhader.com/images/favicon.png">
</head>


.content {
    margin-left: 5px;
    margin-bottom: 50px;
    padding-left: 5px;
    margin-top: 0px;
    padding: 0 2em;
    max-width: 960px;
    line-height: 1.6em;
}

.jumbotron {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: #2a2935;
    margin-bottom: 0px;
    text-align: center;
    color: #383742;
    line-height: 1.6em;
}


h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

.header {
    border: none;
}

#logo-buffer  {
    background: none;
    height: 150px;
    width: auto;
}

#offset-content-padding {
    background: #2a2935;
    text-align: left;
    padding: 2em;
    margin-left: 0;
    margin-right: 0;
    z-index:-1000;
    overflow: hidden;
}

#layout {
    padding-left: 2em;
    padding-right: 2em;
    max-width: 1024px;
}

.nav {
    background-color: #383742;
    @grid-float-breakpoint: @screen-md-min;
    position: relative;
    top: -23px;
}

.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #2a2935;
  border: none;
  padding: 1em;
  max-width: 100%;
  height: auto;
}

.thumbnail>*>img {
    display: @display;
    max-width: 100%;
    height: auto;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:visited,
.nav-pills>li>a:active, .active{
    background-color: #2a2935;
}



.logo {
    background-color: #383742;
}

#footer {
    position: relative;
    margin-top: -37px; /* negative value of footer height */
    height: 37px;
    clear:both;
    padding-top:7px;
    background-color: #1d1d25;
    color: #383741;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    margin-bottom: 70px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

#contact {
    height: 344px;
    width: 242px;
    background-image: url(/images/HexagonWatermark.png);
    background-color: #2a2935;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0;
}

#contact>*>img {
    background: none;
}

#lunch-wrapper {
    height: 0px;
    padding: 0;
    position: relative;
    top: 87px;
}

#banner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;
}

.thumb_hover {
    opacity: .9;
}

.thumb_hover:hover {
    opacity: 10;
}

#jumbotron>*>img {
    float: none;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}
