{% extends "base.html" %}
{% block jumbotron %}
<div class="jumbotron">
  <div class="embed-responsive embed-responsive-16by9" id="jumbotron">
    {{ post_content.jumbotron }}
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row center-block">
  {% for post in post_content.feed %}
  <div class="col-md-6 thumbnail img-responsive">
    <a href="#nav" id="{{post.name}}-link">
      <img src="{{SITE_URL}}/{{post.thumb}}"/></a>
  </div>
  <script type="text/javascript">
   $("#{{post.name}}-link").click(function(){
       $.get("{{SITE_URL}}/work/{{post.name}}.html", function( data ){
	   $("#jumbotron").html(data);
       });
   });
  </script>
  {% endfor %}
</div>
{% endblock %}
