<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joseph Hader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div class="container-fluid clear-top logo">
	<div class="row" style="text-align: center; ">
	  <a href="{{SITE_URL}}">
	    <img src="{{SITE_URL}}/images/LOGO.png" style="margin-left: auto;
		 margin-right:auto;" class="img-responsive" id="banner" />
	  </a>
	</div>
      </div>
      <ul class="nav nav-pills nav-justified">
	<a id="nav"></a>
	{% for element in NAV_ELEMENTS %}
	<li role="presentation"><a href="{{ SITE_URL }}/{{element}}.html"
				   {% if TEMPLATE_URL == element %} class='active' {% endif %}>
	  <img src="{{ SITE_URL }}/images/nav/{{element|upper}}.png"></a></li>
	{% endfor %}
      </ul>

      {% block jumbotron %}
      {% endblock jumbotron %}

      <div class="container-fluid">
	<div id="main" style="text-align:center">
	  <div style="margin-left: auto; margin-right: auto;">
	    <div id="offset-content-padding" style="overflow: hidden">
	      {% block content %}
	      {% endblock %}
	    </div>
	  </div>
	</div>
      </div>

    </div>
    <div class="container-fluid" id="footer">
       <div class="row">
 <div class="col-md-12">
  <p style="text-align: center">DESIGN BY JOSEPH HADER&nbsp;&nbsp;|&nbsp;&nbsp;</pre>DEV BY
    IAN WHITLOCK&nbsp;©2015</p>
 </div>
      </div>
    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>
